$blue: #000cb3;
$red: #fd3f40;
$yellow: #ffd23e;
$white: #f6f6f7;
$black: #131417;
$black: #17181c;

$color--primary: $blue;
$color--secondary: $white;
$color--text: $black;

@font-face {
  font-family: 'Empirez';
  src: url('/fonts/Empirez.ttf') format('truetype'), url('/fonts/Empirez.otf') format('opentype');
}

$font: Varela Round, sans-serif;
$font--header: 'Empirez';

$padding: 36px;

$timing: 0.125s;

$max-width: 1200px;

$mq--mobile: 799px;
$mq--desktop: 800px;
